@model IEnumerable<EntryTimeViewModel>

@{
    ViewBag.Title = "Time entry form";

}


<h1>Employee's Time Entry Form</h1>


<div class="row">

    <div class="col-12">
        <button class="btn btn-info">Active Employee</button>
    </div>

    <div class="col-12">
        <button class="btn btn-info">Employee's Attendance </button>
    </div>

    <div class="col-12">


        <table class="table table-bordered table-striped" style="width:100%">

            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Total working Time</th>
                    <th>Actual In time</th>
                    <th>Actual Out time</th>
                    <th>Total Break time</th>

                </tr>
            </thead>

            <tbody>
                @foreach (var data in Model)
                {
                    <tr>
                        <td width="5%">@data.Id</td>
                        <td width="20%">@data.Name</td>
                        <td width="20%">@data.OutTime.Subtract(@data.InTime)</td>
                        <td width="20%">@data.InTime.TimeOfDay</td>
                        <td width="20%">@data.OutTime.TimeOfDay</td>
                        <td width="15%">@data.BreakOutTime.Subtract(@data.BreakInTime)</td>

                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>
